<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/component :: header"></div>
<div th:replace="component/component :: nav"></div>
<section style="overflow: unset;">
  <div>
    <h2>보드 list입니다</h2>
      <table>
          <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일</th>
              <th>조회수</th>
          </tr>
          <tr th:each="boardDTO:${boardDTO}">
              <th th:text="${boardDTO.id}"></th>
              <th><a th:href="@{|/board/${boardDTO.id}|}" th:text="${boardDTO.boardTitle}" ></a></th>
              <th th:text="${boardDTO.boardWriter}"></th>
              <th th:text="*{#temporals.format(boardDTO.createdAt,'yyyy-MM-dd')}"></th>
              <th th:text="${boardDTO.boardHits}"></th>
          </tr>
      </table>
  </div>
</section>
<div th:replace="component/component :: footer"></div>
</body>
</html>