<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/component :: header"></div>
<div th:replace="component/component :: nav"></div>
<section>
    <div>
        <H2>안녕하세요 detail입니다</H2>
        <table style="width: 815px;">
            <tr>
                <th th:text="${boardDTO.boardTitle}"></th>
            </tr>
            <tr>
                <th th:text="${boardDTO.boardWriter}"></th>
            </tr>
            <tr>
                <th>내용</th>
            </tr>
            <tr>
                <th style="height: 500px;"><p th:text="${boardDTO.boardContents}"></p></th>
            </tr>
            <tr id="passCheckBox" style="display: none;">
                <th>
                    <label for="passCheck">비밀번호 확인:</label>
                    <input type="password" id="passCheck">
                    <button type="button" id="subBtn">제출</button>
                </th>
            </tr>
            <tr>
                <th>
                    <button th:onclick="back()">목록</button>
                    <button th:onclick="boardUpdate([[${boardDTO.id}]],[[${boardDTO.boardPass}]])">수정</button>
                    <button th:onclick="boardDelete([[${boardDTO.id}]],[[${boardDTO.boardPass}]])">삭제</button>
                </th>
            </tr>
        </table>
    </div>
</section>
<div th:replace="component/component :: footer"></div>
</body>
<script>
    const back = () => {
      location.href= "/board/";
    }
    const boardUpdate = (boardId, boardPass) => {
        const passCheckBox = document.getElementById('passCheckBox');
        const subBtn = document.getElementById('subBtn');
        passCheckBox.style.display = "table-row";
        subBtn.addEventListener("click", () => {
            updateBoard(boardId, boardPass);
        });
    }
    const updateBoard = (boardId,boardPass) => {
        const passCheck = document.getElementById('passCheck');
        const id = boardId;
        const pass = boardPass;
        if (passCheck.value == pass) {
            location.href = "/board/update/" + id;
        } else {
            alert("비밀번호를 확인해주세요")
        }
    }
    const boardDelete = (boardId,boardPass) => {
        const passCheckBox = document.getElementById('passCheckBox');
        const subBtn = document.getElementById('subBtn');
        passCheckBox.style.display = "table-row";
        subBtn.addEventListener("click", () => {
            deleteBoard(boardId, boardPass);
        });
    }
    const deleteBoard = (boardId,boardPass) => {
        const passCheck = document.getElementById('passCheck');
        const id = boardId;
        const pass = boardPass;
        if (passCheck.value == pass) {
            // location.href = "/board/delete/" + id;
            axios({
                method:"delete",
                url:"/board/"+id
            }).then(res => {
                location.href = "/board/";
            }).catch(err => {
                alert("삭제 실패!!");
            })
        } else {
            alert("비밀번호를 확인해주세요")
        }
    }
</script>
</html>