<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>component</title>
</head>
<body>
<header th:fragment="header" id="header">
  <div>
    <h2>Spring Boot Member Project</h2>
  </div>
</header>
<nav th:fragment="nav" id="nav">
  <div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
          <a href="/board/save">글작성</a>
        </li>
        <li>
          <a href="/board/">글목록</a>
        </li>
        <li>
            <!--/board?page=1
                7페이지에 있는 33번글 조회
                rest api => /board/7/23
                7은 페이지 번호 33은 글번호 하지만 페이지 번호는 글이 쌓이면,
                유동적으로 변하기 때문에 개발자들 사이에서 말이 많다고 함
                /board/33 => 33번글 /board/33?page=7
                그렇기 때문에 우리는 쿼리스트링 방식으로 사용함
            -->
            <a th:href="@{/board(page=1)}">페이징목록</a>
            <!-- 소괄호 안에 파라미터 값을 보내면 rest api 에서도 쿼리스트링 방식 사용 가능 -->
        </li>
    </ul>
  </div>
</nav>
<footer th:fragment="footer" id="footer">
  <div id="footer1">

  </div>
  <script>
    const date = new Date();
    const footer = document.getElementById('footer1');
    footer.innerHTML = "<p>&copy" + date.getFullYear() + "&nbsp;HRDKOREA All rights reserved."
  </script>
</footer>
</body>
</html>